{% extends "MoodMapMapBundle:MoodWord:base.html.twig" %}
{% block body %}
<div class="page-header">
    <h1>
        {{ entity.word }}
        <small>
            id = {{ entity.id }}
        </small>
    </h1>
</div>

{% include "MoodMapMapBundle:MoodWord:form.html.twig" %}

<ul class="well unstyled buttonlist">
    <li>
        <button class="btn btn-primary" id="edit">Edit</button>
    </li>
    <li>
        <form action="{{ path('admin_moodword_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </li>
    <div></div>
</ul>

<div id="entitydata" data-entityid="{{ entity.id }}" style="display: none"></div>
{% endblock %}

{% block subnavi %}
<li>
    <a href="{{ path('admin_moodword') }}">
        <i class="icon-th-list"></i> List MoodWords
    </a>
</li>
<li>
    <a href="{{ path('admin_moodword_new') }}">
        <i class="icon-pencil"></i> Create a new MoodWord
    </a>
</li>
{% endblock %}