{% extends "MoodMapMapBundle:MoodWord:base.html.twig" %}
{% block body %}

<div class="page-header">
    <h1>MoodWord list</h1>
</div>

<ul class="well unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword_new') }}">
            Create a new entry
        </a>
    </li>
    <div></div>
</ul>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Word</th>
        <th>Colors</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td>{{ entity.word }}</td>
        <td>
            <form class="form-inline">
                {% for color in entity.colors %}
                <div class="input-append">
                    <input type="text" class="input-mini disabled" value="#{{ color }}" disabled="">
                    <span class="add-on" style="background-color: #{{ color }}"></span>
                </div>
                {% endfor %}
            </form>
        </td>
        <td>
            <ul class="unstyled buttonlist">
                <li>
                    <a class="btn btn-primary" href="{{ path('admin_moodword_show', { 'id': entity.id }) }}">show</a>
                </li>
                <li>
                    <a class="btn" href="{{ path('admin_moodword_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="well unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword_new') }}">
            Create a new entry
        </a>
    </li>
    <div></div>
</ul>

{% endblock %}