{% extends "MoodMapMapBundle:MoodWord:backend_base.html.twig" %}
{% block body %}

<h1>MoodWord</h1>

<table class="table table-condensed">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>Word</th>
        <td>{{ entity.word }}</td>
    </tr>
    <tr>
        <th>Colors</th>
        <td>
            {% for color in entity.colors %}
            {{ color }}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>

<ul class="unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('admin_moodword_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_moodword_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}