{% extends "MoodMapMapBundle:MoodWord:base.html.twig" %}
{% block body %}

<div class="page-header">
    <h1>
        {{ entity.word }}
        <small>
            id = {{ entity.id }}
        </small>
    </h1>
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="word">Word</label>

            <div class="controls">
                <input type="text" class="input-xlarge disabled" id="word" value="{{entity.getWord()}}" disabled="">
            </div>
        </div>

        {% for color in entity.colors %}
        <div class="control-group">
            <label class="control-label">Color</label>

            <div class="controls">
                <div class="input-append">
                    <input type="text" class="input-mini disabled" value="#{{ color }}" disabled="">
                    <span class="add-on" style="background-color: #{{ color }}"></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
</form>

<ul class="well unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('admin_moodword_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_moodword_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </li>
    <div></div>
</ul>

{% endblock %}