<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/jquery.mobile.structure-1.1.0.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.mobile.theme-1.1.0.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.mobile-1.1.0.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui-1.8.20.custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/map.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>{% block headline %}MoodMap{% endblock %}</h1>
        {% if app.user %}<a href="{{ path('fos_user_security_logout') }}" data-icon="check" class="ui-btn-right">Logout</a>{% endif %}
    </div><!-- /header -->

    <div data-role="content">
    {% block body %}

    {% endblock %}
    </div><!-- /content -->

    <div data-role="footer">
        {% include 'MoodMapMainBundle:Util:navbar.html.twig' %}
    </div><!-- /footer -->

</div><!-- /page -->

<script src="{{ asset('/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/jquery.mobile-1.1.0.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/util.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/map.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/profile.js') }}" type="text/javascript"></script>
{% block javascripts %}{% endblock %}
{% include 'MoodMapMainBundle:Util:modal.html.twig' %}
{% include 'MoodMapMainBundle:Util:alerts.html.twig' %}

</body>
</html>