{% extends '::base.html.twig' %}

{% block headerleft %}
<a href="{{ path('_welcome') }}" data-icon="back" class="ui-btn-left">Back</a>
{% endblock %}

{% block body %}
<div class="content-primary">

    <ul data-role="listview">
        <li data-role="list-divider">Search Results for "<i>{{ keyword }}, #{{ color }}</i>"<span class="ui-li-count">11</span></li>
        {% for recommendation in recommendations %}
        <li>
            <a href="{{ path('show_item')}}" data-transition="slide">
                <img src="{{ recommendation.image }}" />
                <h3>{{ recommendation.title }}</h3>
                <p>{{ recommendation.description }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div><!--/content-primary -->
{% endblock %}