{% extends '::base.html.twig' %}
{% block body %}
{% if error %}
{{ error|trans({}, 'FOSUserBundle') }}

{% else %}

<form action="{{ path("fos_user_security_check") }}" method="post" data-ajax="false">

    <fieldset>

        <label for="_username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="_password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password"/>

        {#<label class="checkbox">#}
            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
            {#{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}#}
        {#</label>#}

        <input id="submit" type="submit" value="Login" data-role="button" data-theme="b" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    </fieldset>

</form>

<p><a href="{{ path('fos_user_registration_register') }}">You don't have an account, yet? Sign up right now »</a></p>
{% endif %}
{% endblock %}