{% extends 'MoodMapMapBundle:Recommendation:base.html.twig' %}
{% block body %}
<div class="page-header">
    <h1>Recommendation list</h1>
</div>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr>
        <td>{{ entity.title }}</td>
        <td>{{ entity.image }}</td>
        <td>
            <ul class="unstyled buttonlist">
                <li>
                    <a class="btn btn-primary" href="{{ path('admin_recommendation_show', { 'id': entity.id }) }}">show</a>
                </li>
                <li>
                    <a class="btn" href="{{ path('admin_recommendation_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block subnavi %}
<li class="active">
    <a href="{{ path('admin_recommendation') }}">
        <i class="icon-white icon-th-list"></i> List Recommendations
    </a>
</li>
<li>
    <a href="{{ path('admin_recommendation_new') }}">
        <i class="icon-pencil"></i> Create a new Recommendation
    </a>
</li>
{% endblock %}